@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F1F3F4;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    color: #9b9898;
}

.header {
    background-color: #FFF;
    display: flex;
    padding: 1rem 5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header .logo {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.header .logo a {
    color: #000;
}

.header .list-service {
    display: flex;
    gap: 1rem;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.header .list-service a {
    color: #9b9898;
}

.header .list-member {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.fa-solid {
    color: #9b9898;
    font-size: 20px;
}

.btn-member {
    border: none;
    border-radius: 16px;
    padding: .6rem;
    color: #9b9898;
    background-color: #EBEBEB;
    font-size: 13px;
    font-family: 'roboto', sans-serif;
    cursor: pointer;
}

/* ------------------------------------------------------------ */
#check-list {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 16px;
    width: 24px;
}

label span {
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 30px;
    background-color: #9b9898;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#check-list:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#check-list:checked+label span:nth-child(2) {
    opacity: 0;
}

#check-list:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

/* ------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .fa-ranking-star {
        display: none;
    }

    .header .list-service {
        display: none;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    .header .logo {
        font-size: 24px;
    }
}

@media screen and (min-width: 800px) {
    .menu {
        display: none;
    }
}